<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image" href="/img/icon.ico" />
    <title>My Portfolio | Tajul Subqi</title>

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm py-md-1 fixed-top">
      <div class="container">
        <a class="navbar-brand pe-3" href="#"><img src="/img/icon.ico" alt="icon" width="50" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item pe-3">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item pe-3">
              <a class="nav-link text-white" href="/add-project">My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/testimonials">Testimonials</a>
            </li>
          </ul>
          <a href="/contact" class="nav-btn btn px-2 py-1 text-dark">Contact</a>
        </div>
      </div>
    </nav>
    <!-- Navbar end -->

    <!-- Content Section -->
    <section class="content">
      <div class="container row mt-5 d-flex justify-content-around">
        <div class="biodata col-8" style="margin-left: 10rem;">
          <span class="mb-3 text-primary">Welcome to my personal website 👋</span>
          <h1 class="mb-3 fw-bold">Hi. I'm <span class="name">Tajul Subqi</span>,<span class="new-line">Fullstack Developer</span></h1>
          <p>Hello, my name is Tajul Subqi, I am 23 years old and come from Aceh. Currently, I am taking part in a bootcamp training program at DumbWays to improve my skills and get a promising career in the professional world.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, officia inventore, aliquid saepe laborum quia eum nemo porro voluptatibus consequuntur veritatis optio debitis consectetur possimus dolor maiores, harum minima
            omnis?</p>
          <button type="button" class="btn btn-primary shadow-lg px-2 py-1 w-">About Me</button>
          <a class="mt-3 text-dark" href="" style="display: block; text-decoration: none">Download <i class="fa-solid fa-download fa-bounce"></i></a>

          <!-- Social Links -->
          <div class="socials d-flex justify-content-center fs-3 mt-4" style="margin-left: 10rem;">
            <a class="me-4" href="http://www.linkedin.com/in/tajulsubqi"> <i class="fa-brands fa-linkedin"></i></a>
            <a class="me-4" href="http://www.instagram.com/tajulsubqi__"> <i class="fa-brands fa-square-instagram"></i></a>
            <a class="me-4" href=""> <i class="fa-brands fa-square-facebook"></i></a>
            <a class="me-4" href="http://github.com/tajulsubqi"> <i class="fa-brands fa-github"></i></a>
          </div>
          <!-- Social Links end -->
        </div>

        <!-- Card Section -->
        <div class="profile col-md-4 text-center d-flex flex-column mt-4">
          <img src="/img/person.JPG" class="d-flex justify-content-center img-thumbnail rounded-circle profileImage" alt="person" />
          <h4 class="mt-3 fs-5 fw-bold">Tajul Subqi</h4>
          <h5 class="fs-6">Fullstack Developer</h5>
        </div>
        <!-- Card Section end -->
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,96L48,112C96,128,192,160,288,149.3C384,139,480,85,576,96C672,107,768,181,864,202.7C960,224,1056,192,1152,197.3C1248,203,1344,245,1392,266.7L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        >
        </path>
      </svg>
    </section>
    <!-- Content Section end -->

    <!-- Project Section -->
    <section class="project">
      <div class="container px-5">
        <div class="row">
          <div class="col">
            <h2 class="text-center mb-5 fw-bold fs-1">My <span>Projects</span></h2>
          </div>
        </div>

        <!-- My Project Cards -->
        <div class="d-flex gap-4 flex-wrap justify-content-center">
          {{#each project}}
            <div class="row">
              <div class="col-md-4 mb-2">
                <div class="card" style="background-color: #eee; width: 20rem;">
                  <img src={{this.uploadImage}} class="card-img-top img-thumbnail" alt="image-project" />
                  <div class="card-body">
                    <h5 class="card-title fw-bold fs-6"><a href="/project-detail" style="text-decoration: none;">{{this.project}}</a></h5>
                    <p style="font-size: .6rem;">{{this.duration}}</p>
                    <p style="font-size: .7rem;">{{this.description}}</p>
                    <div class="icon mb-3 fs-4">
                      {{#if this.javaScript}}
                        <a href=""><i class="fa-brands fa-square-js fa-lg"></i></a>
                      {{/if}}
                      {{#if this.nodeJs}}
                        <a href=""><i class="fa-brands fa-node fa-lg"></i></a>
                      {{/if}}
                      {{#if this.reactJs}}
                        <a href=""><i class="fa-brands fa-react"></i></a>
                      {{/if}}
                      {{#if this.golang}}
                        <a href=""><i class="fa-brands fa-golang"></i></a>
                      {{/if}}
                    </div>
                    <div class="d-flex justify-content-evenly">
                      <a href="/edit-project/{{@index}}" class="btn btn-outline-primary px-5">Edit</a>
                      <a href="/delete-project/{{@index}}" class="btn btn-outline-primary px-5">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <!-- My Project Cards end -->

      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#e2edff"
          fill-opacity="1"
          d="M0,64L48,101.3C96,139,192,213,288,224C384,235,480,181,576,170.7C672,160,768,192,864,186.7C960,181,1056,139,1152,128C1248,117,1344,139,1392,149.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        >
        </path>
      </svg>
    </section>
    <!-- Project Section end -->

    <!-- Bootstrap and Custom Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
  </body>
</html>